nav{
    background-color: #b1315c;
    padding: 12px 2px;
   
    .link-page{

        list-style: none;
        display: flex;
        margin: 0px !important;
        li:first-child a{
            color: yellow !important;
            font-weight: bold;
            font-size: 25px;
        }
        li:not(:first-child) a{
            color: white !important;
             font-size: 18px;

        }
        li a.active{
            background-color: #893e56;
             padding: 8px;
        }
    }

    button.logout{
        border: none;
        background-color: transparent;
        color: white;
        font-size: 18px;
    
    }
  
   
}